extends layout

block additional-js
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="js/parser.js")

block content
    script(type="text/javascript").
        var articleInfo = {
            title: "#{fields.title}",
            id: "#{fields.articleId}"
        };

    .container
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapse(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                    a.navbar-brand(href="/") node-diary
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li: a #{fields.title}
                                            
        .row
            .col-md-6
                #item-holder
                    form(action="/edit", enctype="multipart/form-data", method="post")
                        .form-group
                            label(for="code") Markdown Code
                            textarea#code.form-control(name="code", rows="10", cols="50") #{fields.code}
                        button#save.btn.btn-default(type="button") Save 
                        button#evernote.btn(type="button") 
                            img(src="/img/evernote.png", width="30")
                        .form-group
                            label(for="media") Upload Media
                            input#media(type="file", name="upload")
                        input#from(type="hidden", name="from", value="edit")
                        input#articleId(type="hidden", name="articleId", value="#{fields.articleId}")
                        button#upload.btn.btn-default(type="submit") Upload
                        #last-saved

                #item-holder
                    strong Media List
                    ol#media-list

            .col-md-6
                #result
                    
    .modal.fade#enSavedModal(tabindex="-1", role="dialog", aria-labelledby="everNoteSaved", aria-hidden="true")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title#modalLabel Message
                .modal-body
                    | Successfully saved to Evernote!!
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close
                    
