extends layout

block additional-js
    script(type="text/javascript", src="/js/page.js")

block content
    .container
        .row
            .col-md-4
                strong Add New
                form(action="/edit", enctype="multipart/form-data", method="post")
                    .form-group
                        label(for="title") Title
                        input#title.form-control(name="title")
                    input#from(type="hidden", name="from", value="index")
                    button.btn.btn-default(type="submit") Edit
            .col-md-8
                #article-table
                    strong Articles
                    each months, year in articles
                        .row#year-number #{year}
                        .row#article-year
                            .col-md-12
                                each arts, month in months
                                    .row#month-number #{month}
                                    .row#article-month 
                                        .col-md-12
                                            each val in arts
                                                .row
                                                    form#article-form(action="/edit", enctype="multipart/form-data", method="post")
                                                        .col-md-4= val.datetime
                                                        .col-md-4
                                                            a(href="#{val.link}", target="_blank"): span.article-title= val.title
                                                            input#articleId(type="hidden", name="articleId", value="#{val.id}")
                                                            input#from(type="hidden", name="from", value="index")
                                                        .col-md-4
                                                            div(align="right"): button#edit-button.btn.btn-default(type="subimt") Edit
